/* Button */
.login-btn {
  background: linear-gradient(135deg, #9fb0cf, #85a8e4);
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(30, 60, 114, 0.4);
}

 
